/* container */
.settings{
    width: 270px;
    height: 200px;
    background-color: #E3F2FD;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.settings::-webkit-scrollbar {
    display: none;
}

/* list element */
li{
    padding-left: 5px;
}

/*Adding margins to fit eveything perfectly otherwise things gets overflow*/
h2 {
	margin: -5px;
	margin-left: 6px;
	margin-top: 7px;
	position: sticky;
	top: 0;
	background-color: #E3F2FD;
	padding: 5px 0;
	z-index: 1;
}

.settings ul {
    list-style: none;
    padding: 0;
}

.settings li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.settings li.active {
    background-color: #007AFF;
}

.selected-option {
    color: #999;
    font-size: 0.9em;
}

.settings li.active .selected-option {
    color: #fff;
}